Repository ENG517/Topic-Model-3, pull requests merged in 2024-10, with the labels that each got.

#1 Creating Separate MD Files for Each task
  tasks-as-md-files/acquiring-seeds.md
  tasks-as-md-files/avatar-customization.md
  tasks-as-md-files/create-required-traits.md
  tasks-as-md-files/harvesting-crops.md
  tasks-as-md-files/maintaing-crops.md
  tasks-as-md-files/preparing-land-and-planting.md
  tasks-as-md-files/using-seed-maker.md
Labels: pre-writing

#2 Created folders for procedures
  creating-a-new-save-procedure/avatar-customization.md
  creating-a-new-save-procedure/create-required-traits.md
  farming-spring-crops-procedure/acquiring-seeds.md
  farming-spring-crops-procedure/harvesting-crops.md
  farming-spring-crops-procedure/maintaing-crops.md
  farming-spring-crops-procedure/preparing-land-and-planting.md
  farming-spring-crops-procedure/using-seed-maker.md
Labels: pre-writing

#3 Farming Tool Reference
  references/r_farming_tools.dita
Labels: reference topics

#4 Created "r-types-of-traits"
  references/r_types_of_traits.dita
Labels: documentation

#5 Create r-types-of-crops.dita
  references/r-types-of-crops.dita
Labels: documentation

#6 Made table better
  references/r_types_of_traits.dita
Labels: documentation

#7 Farm Types Reference: Mostly Complete
  assets/images/beach-farm-map.png
  assets/images/forest-farm-map.png
  assets/images/four-corners-farm-map.png
  assets/images/hilltop-farm-map.png
  assets/images/meadowlands-farm-map.png
  assets/images/riverlands-farm-map.png
  assets/images/standard-farm-map.png
  assets/images/wilderness-farm-map.png
  references/r_types_of_farming_tools.dita
  references/r_types_of_farms.dita
Labels: reference topics

#9 organized files and folders
  creating-a-new-save-procedure/creating-a-new-save-.md-files/avatar-customization.md
  creating-a-new-save-procedure/creating-a-new-save-.md-files/create-required-traits.md
  creating-a-new-save-procedure/creating-a-new-save-references/r_types_of_traits.dita
  creating-a-new-save-procedure/creating-a-new-save-tasks/t_avatar-customization.dita
  creating-a-new-save-procedure/creating-a-new-save-tasks/t_create-required-traits.dita
  farming-spring-crops-procedure/farming-spring-crops-.md-files/acquiring-seeds.md
  farming-spring-crops-procedure/farming-spring-crops-.md-files/harvesting-crops.md
  farming-spring-crops-procedure/farming-spring-crops-.md-files/maintaing-crops.md
  farming-spring-crops-procedure/farming-spring-crops-.md-files/maintaining-crops.md
  farming-spring-crops-procedure/farming-spring-crops-.md-files/preparing-land-and-planting.md
  farming-spring-crops-procedure/farming-spring-crops-.md-files/using-seed-maker.md
  farming-spring-crops-procedure/farming-spring-crops-concepts/c_skeleton.dita
  farming-spring-crops-procedure/farming-spring-crops-references/r-types-of-crops.dita
  farming-spring-crops-procedure/farming-spring-crops-references/r_farming_tools.dita
  farming-spring-crops-procedure/farming-spring-crops-tasks/t_acquiring-seeds.dita
  farming-spring-crops-procedure/farming-spring-crops-tasks/t_harvesting-crops.dita
  farming-spring-crops-procedure/farming-spring-crops-tasks/t_maintaining-crops.dita
  farming-spring-crops-procedure/farming-spring-crops-tasks/t_preparing-land-and-planting.dita
  farming-spring-crops-procedure/farming-spring-crops-tasks/t_using-seed-maker.dita
Labels: pre-writing
