Repository ENG517/Topic-Model-3, pull requests merged in 2024-11, with the labels that each got.

#17 Reworking the Farm Type Reference
  r_types_of_farms.dita
  references/r_types_of_farms.dita
Labels: reference topics

#18 Farm Options Concept
  concepts/c_farm_options-images/icons/beach_farm_map_icon.png
  concepts/c_farm_options-images/icons/forest_farm_map_icon.png
  concepts/c_farm_options-images/icons/four_corners_farm_map_icon.png
  concepts/c_farm_options-images/icons/hilltop_farm_map_icon.png
  concepts/c_farm_options-images/icons/meadowlands_farm_map_icon.png
  concepts/c_farm_options-images/icons/riverland_farm_map_icon.png
  concepts/c_farm_options-images/icons/standard_farm_map_icon.png
  concepts/c_farm_options-images/icons/wilderness_farm_map_icon.png
  concepts/c_farm_options-images/maps/beach-farm-map.png
  concepts/c_farm_options-images/maps/forest-farm-map.png
  concepts/c_farm_options-images/maps/four-corners-farm-map.png
  concepts/c_farm_options-images/maps/hilltop-farm-map.png
  concepts/c_farm_options-images/maps/meadowlands-farm-map.png
  concepts/c_farm_options-images/maps/riverland-farm-map.png
  concepts/c_farm_options-images/maps/standard-farm-map.png
  concepts/c_farm_options-images/maps/wilderness-farm-map.png
  concepts/c_farm_options.dita
Labels: concept topics

#16 Using Seed maker Task
  farming-spring-crops-procedure/farming-spring-crops-tasks/t_using-seed-maker.dita
Labels: task topics

#14 Added in the task body for maintaining crops
  farming-spring-crops-procedure/farming-spring-crops-tasks/t_maintaining-crops.dita
Labels: task topics

#12 added in the task for harvesting and selling crops!
  farming-spring-crops-procedure/farming-spring-crops-tasks/t_acquiring-seeds.dita
  farming-spring-crops-procedure/farming-spring-crops-tasks/t_harvesting-crops.dita
Labels: task topics

#11 added the "avatar customization" task
  creating-a-new-save-procedure/creating-a-new-save-tasks/t_avatar-customization.dita
Labels: documentation, task topics

#10 Added to t-acquiring-seeds
  creating-a-new-save-procedure/creating-a-new-save-tasks/t_avatar-customization.dita
  farming-spring-crops-procedure/farming-spring-crops-tasks/t_acquiring-seeds.dita
Labels: documentation, task topics

#15 Preparing land and planting seeds
  farming-spring-crops-procedure/farming-spring-crops-tasks/t_preparing-land-and-planting.dita
Labels: task topics

#13 Added t_create-required-traits
  creating-a-new-save-procedure/creating-a-new-save-tasks/t_create-required-traits.dita
Labels: documentation, task topics

#22 Pierre's vs JojaMart
  concepts/c_pierres_vs_joja_mart.dita
Labels: concept topics

#27 Adding dita val files
  creating-a-new-save-procedure/creating-a-new-save-references/r_types_of_farms.dita
  creating-a-new-save-procedure/creating-a-new-save-tasks/t_avatar-customization.dita
  expert_only.ditaval
  farming-spring-crops-procedure/farming-spring-crops-tasks/t_acquiring-seeds.dita
  farming-spring-crops-procedure/farming-spring-crops-tasks/t_harvesting-crops.dita
  farming-spring-crops-procedure/farming-spring-crops-tasks/t_maintaining-crops.dita
  farming-spring-crops-procedure/farming-spring-crops-tasks/t_preparing-land-and-planting.dita
  novice_only.ditaval
Labels: enhancement

#24 Energy Use Concept
  concepts/c_energy_use.dita
Labels: concept topics

#23 Seed Maker Concept
  concepts/c_seed_maker.dita
Labels: concept topics

#28 Added c_intro_to_new_save
  concepts/c_intro_to_new_saves.dita
Labels: documentation

#26 Created to c_favorite_things
  concepts/c_favorite_things.dita
Labels: documentation

#25 Created C_intro_to_farming
  concepts/c_intro_to_farming.dita
Labels: documentation
